{{/* Filename: internal/mailer/templates/user_welcome.tmpl */}}
{{ define "subject" }}Welcome to Coltech!{{ end }}
{{ define "plainbody" }}
Hi,

Thank you for signing up for an Coltech Account!
We are excited to have you on board!
For future reference, please note that your identification number
is {{ .ID }}.

Thanks,

The Coltech Team
{{ end }}

{{ define "htmlBody" }}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</Head>



<body>
    <p>Hi,</p>

    <p>Thank you for signing up for an Coltech Account!</p>
    <p>We are excited to have you on board!</p>
    <p>For future reference, please note that your identification number
    is {{ .ID }}.</p>

    <p>Thanks,</p>
    <p>The Coltech Team</p>  
</body>
</html>
{{ end }}